{% extends 'base.html' %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
    <div class="news-detail">
        <h1>{{ post.h1 }}</h1>
        {% load thumbnail %}
        {% thumbnail post.image "300" crop="center" upscale=True as im %}
            <img class="post-main-img" src="{{ im.url }}">
        {% endthumbnail %}


        {{ post.date }}
        {{ post.is_free }}
        {{ post.full_story |safe }}
        <br>
        <div class="news-post-many-img">
            {% for image in images %}
                <img src="{{ image.image.url }}">
            {% endfor %}
        </div>
    </div>
{% endblock content %}

