
    {% extends 'base.html' %}

        {% block title %}
            Учебные программы
        {% endblock %}




{% block content %}

    <header class="header1">
        ЦОПП
    </header>

    <div class="container1">
        <h1>Учебные программы</h1>

        <div class="theprog">
            {% for prog in progs %}
                {% include 'edu_progs/includes/short_story.html' %}
            {% endfor %}
        </div>

    </div>

    <footer>

         <div class="foot_copp_title">
             <span>
                 <a href="">
                     Центр опережающей профессиональной подготовки РСО-Алания
                 </a>
             </span>

        </div>

        <div class="foot_flex_1">

            <div class="foot_elem">
                <div class="foot_title">
                    ЦОПП
                </div>
                <div class="foot_logo">
                    <img src="https://copp15.ru/portals/0/logo_copp_white_min.png" alt="">
                </div>
            </div>
            <div class="foot_elem">
                <div class="foot_title">
                    Полезные ссылки
                </div>
                <div class="foot_list">
                    <ul>
                        <li>
                            <a href="">
                                Базы данных ресурсов
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Новости
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Обратная связь
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Карта сайта
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Версия сайта для слабовидящих
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="foot_elem">
                <div class="foot_title">
                    Образование
                </div>
                <div class="foot_list">
                    <ul>
                        <li>
                            <a href="">
                                Каталог образовательных программ
                            </a>
                        </li>

                        <li>
                            <a href="">
                                 Расписание мероприятий
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Дорожная карта сопровождения государственной итоговой аттестации
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="foot_elem">
                <div class="foot_title">
                    Контакты
                </div>

                <div class="foot_list">
                    <div class="foot_contact">
                        <img src="" alt="">
                        <a href="mailto:copp15@mail.ru">copp15@mail.ru</a>
                    </div>
                    <div class="foot_contact">
                        <img src="" alt="">
                        <a href="tel:+7 (8672) 51-12-38">+7 (8672) 51-12-38</a>
                    </div>
                    <div class="foot_contact">
                        <img src="" alt="">
                        <span>
                             г. Владикавказ, ул. Галковского, дом 221
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="prelast_foot">
            <div class="last_foot">
                 <span>© ЦОПП РСО-Алания 2023</span> | <span><a href="">Условия использования</a></span> | <span> <a
                href="">Политика конфиденциальности</a></span>
            </div>
        </div>

    </footer>



{% endblock content %}