{% extends 'base.html' %}

{% block title %}
  Учебные программы
{% endblock %}

{% block content %}
    <div class="program_detail">
        <h1>{{ program.name }}</h1>
        <h3>{{ program.description |safe }}</h3>
        {% load thumbnail %}
        <div>
            {% thumbnail program.image "800" crop="center" upscale=True as im %}
                <img class="program_detail_img" src="{{ im.url }}">
            {% endthumbnail %}
        </div>

        Конец регистрации: {{ program.reg_end }}

        {% if program.is_free %}
            Программа бесплатна
        {% endif %}
        <div class="prog_discript_sh">
            {{ program.text |safe }}
        </div>

        <a href="{% url 'edu_progs:program-form' program.id %}">форма</a>
    </div>
{% endblock content %}

