body {
    background: rgb(169,228,234);
    margin:0;
    font-family: Arial;
}

a {
    text-decoration: none;
    color:inherit;
}

ul {
    margin:0 0 0 1.3rem;
    padding:0;
}

h1 {
    color: #7283c5;
    text-align:center;
    font-size: 3rem;
}

h2 {
    color: #7283c5;
    text-align:center;
    font-size: 2rem;
}

.theprog {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    row-gap:2rem;
    column-gap:2.5rem;
}

.prog_unit_sh {
    background-color:rgba(184,182,255,.9);
    color:white;
    padding:1.2rem;
    border-radius:20px;
    flex-basis: 400px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.1), 0 1px 5px 0 rgba(0,0,0,.12);
}

.link_sh a {
    font-size: 22px;
}

.prog_unit_sh div:not(:last-child){margin-bottom: 10px}

.start_study_sh {
    font-size: 13px;
}

 .prog_image_sh img{
 width:100%;
 max-height:250px}

 .prog_discript_sh{
    max-height: 200px;
    overflow: hidden;
 }

 .cost_sh{
    text-align:right}


.header_wrapper{
        background-color: #f1f1f1;
        padding-inline: 1rem;
    }

.header1 {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    max-width: 1600px;
    margin: 0 auto;
    gap: 2rem;
    padding: 1.5rem 0px;
    align-items:center;
    color: white;
}

.header1_copp_logo{
    align-self: flex-start;
    max-width: 250px;
}

.header1_copp_logo img{
    max-width:100%;
}

.head_cont_block_image img{
    width: 35px;
}

.header1_contact_line{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    text-align:center;
    column-gap: 5rem;
    row-gap: 2rem;
}

.head_cont_info>h3{
    margin: .5rem 0px;
    color: rgb(89,110,121);
    font-size: 1.1rem;
    letter-spacing: .5px;
}

.head_cont_info a{
    color: #7283c5;
    text-decoration: underline;
    font-size: 1rem;
    font-style: italic;}

.head_cont_info span{
    color: #7283c5;
    font-size: 1rem}


.sign_up{
    text-align: center;
    font-size: 1.1rem;
    background-color: #394959;
    transition-duration: .3s;
}

.sign_up:first-child{
    margin-bottom: .5rem;
}

.sign_up:hover{
    background-color: black;
}

.sign_up a{
    display: block;
    padding: .8rem 1.4rem;}


.header_below_wrapper{
    background: white;
    padding-inline:1rem;
    }

.header_below{
    max-width:1300px;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #596e79;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 0;
    row-gap: 1rem;
    }

.nav_items{
    display:flex;
    flex-wrap: wrap;
    column-gap:5rem;
    row-gap:1rem;
    font-size: 1rem;
    text-transform: uppercase;
    }

.nav_item a{
    letter-spacing: 1px;
    }

.nav_item a:hover{
    color:#7283c5;
    }

.user_items{
    display:flex;
    gap:.5rem;
}

.uitem{
    border: 2px solid #596e79;
    border-radius:50%;
    padding: 1.5rem;
    cursor:pointer;
    text-align: center;
    display: block;
    position: relative;
}

.uitem div{
    position:absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.aside_main{
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    overflow: auto;
    transform: translateX(100%);
    transition-duration: .3s;
    background: white;
}

.aside_bg_div{
    background-image: url("../images/copp_side_head.jpg");
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 10px 0px 10px;
    }

.aside_profile_image img{
    max-width: 70px;
    border:2px solid white;
    border-radius: 50%;
    }
.aside_profile_exit img{
    max-width: 40px;
    }

.aside_profile_image,.aside_profile_exit{
    font-size: 0px;
    transform: translateY(15px);
    }

.aside_user_info{
    background: #38555f;
    padding: 1.5rem .4rem .4rem .4rem;
    padding-top:1.5rem;
    }

.aside_user_name{
    color: white;
    font-weight: bold;
    margin-bottom: .5rem;
    }

.aside_user_role{
    color:#e0e0e0;
    font-size: .9rem;
    }

.aside_copp{
    margin-top:.5rem;
    background: #596e79;
    color: white;
    padding: 10px;
    }

.aside_white_space{
    background: white;
    padding: .6rem 0rem 0 .6rem;
    }

.userside{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: .5rem 0;
    cursor: pointer;
    }

.aside_item{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.3;
    color:#444444;
    }

.aside_bird{
    font-size: 0px;
    }

.aside_bird img{
    max-width: 20px;
    }

.hidden_minititle{
    font-weight: bold;
    color:#444;
    font-size: .9rem;
    border-bottom: 1px dotted #444;
    padding-bottom: .4rem;
    letter-spacing: .5px;
    line-height: 1.5;
    }

.hidden_minititle:not(:first-child){
    margin-top:1.4rem;
}

.userside_hidden{
    margin-left: .5rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    display: none;
    }

.showit{
    display: block;
    }

.list_revial{
    margin-left: 1.4rem;
    }

.list_revial li, .userside_punct {
    margin: .6rem 0;
    border-bottom: 1px dotted #444;
    font-size: .85rem;
    }

.list_revial li a, .userside_punct a{
    display: block;
    padding-bottom: .5rem;
    }

.userside_punct{
    margin-left: .5rem;
    }

.userside_punct:last-child{
    margin-bottom: 0;
    }

.userside_hidden:last-child{
    margin:0;
    }

.all_user_side:not(:first-child){
    margin-top: .7rem;
    }

footer{
    background-color:#456570;
    padding: 2.5rem 0 0rem 0;
    margin-top: 3rem;
    box-shadow: 0px -10px 30px rgb(0 0 0 / 10%);
}

.foot_flex_1{
    padding: 3rem 0px 2rem 0px;
    display:flex;
    justify-content:center;
    column-gap:1.3rem;
    row-gap: 1.5rem;
    margin-inline:1rem;
    flex-wrap:wrap}

.foot_title{
    color: white;
    font-size: 1.5rem;
    letter-spacing:.5px;
    border-bottom: 1px solid white;
    padding: 0px 0px .5rem 8px;
    margin-bottom: 1.2rem
}

.foot_list{
color: white;}

.foot_elem{
flex-basis: 300px;}

.foot_contact{
margin:0 0 0 1rem;}

.foot_list ul li,.foot_contact{
margin-bottom: .9rem;
font-size: 1.1rem
}

.foot_logo img{
max-width: 150px}

.foot_copp_title{
text-align:center;
color: rgb(230,230,230);
font-size: 1.5rem;
margin-inline: .5rem;}

.foot_copp_title a {
padding-bottom:4px;
border-bottom: 3px solid;
line-height: 1.6}

.last_foot{
max-width: 1250px;
margin: 0 auto;
color: rgb(230,230,230);
line-height: 1.4rem}

.last_foot span{
margin-inline: .5rem}

.prelast_foot{
padding: 1.2rem 0;
border-top: 1px solid white}