{% load static %}

<div class="header_wrapper">
    <header class="header1">
        <div class="header1_copp_logo">
            <a href="/"><img src="{% static 'images/1.png' %}" alt="Центр опережающей профессиональной подготовки РСО-Алания"></a>
        </div>

        <div class="header1_contact_line">

          <div class="head1_cont_block">
            <div class="head_cont_block_image">
                <img src="{% static 'images/mail.svg' %}" alt="">
            </div>

              <div class="head_cont_info">
                  <h3>
                      Email
                  </h3>
                  <div>
                      <a href="mailto: copp15@mail.ru">
                        copp15@mail.ru
                      </a>
                  </div>
              </div>
          </div>

            <div class="head1_cont_block">
              <div class="head_cont_block_image">
                <img src="{% static 'images/navigation.svg' %}" alt="">
              </div>

              <div class="head_cont_info">
                  <h3>Адрес</h3>
                  <div>
                      <span>г. Владикавказ <br>ул. Галковского, дом 221</span>
                  </div>
              </div>
          </div>

          <div class="head1_cont_block">
              <div class="head_cont_block_image">
                    <img src="{% static 'images/phone.svg' %}" alt="">
              </div>

              <div class="head_cont_info">
                  <h3>Телефон</h3>
                  <div>
                      <a href="tel: +7 (8672) 51-12-38">+7 (8672) 51-12-38</a>
                  </div>
              </div>
          </div>
        </div>
        <!-- Logged In -->
        {% if request.user.is_authenticated %}
            <div class="header__user">
                <a href="/">
                  <p><span>{{request.user.email}}</span></p>
                </a>
                <a href="{% url 'logout' %}">Выйти</a>
            </div>
        {% else %}
        <!-- Not Logged In -->
            <div class="user_auth">
                <div class="sign_up">
                    <a href="{% url 'users:signup' %}">Регистрация</a>
                </div>

                <div class="login">
                    <a href="{% url 'users:login' %}">Войти</a>
                </div>
            </div>
        {% endif %}
    </header>
</div>

<div class="header_below_wrapper">
    <div class="header_below">
    <div class="nav_items">
        <div class="nav_item">
            <a href="{% url 'main:index' %}">Главная</a>
        </div>
        <div class="nav_item">
            <a href="{% url 'edu_progs:index' %}">Учебные программы</a>
        </div>
         <div class="nav_item">
            <a href="{% url 'news:index' %}">Новости</a>
        </div>
        <div class="nav_item">
            <a href="{% url 'events:index' %}">Мероприятия</a>
        </div>
        <div class="nav_item">
            <a href="">РЦСТВ</a>
        </div>
    </div>

    <div class="user_items">
        <div class="uitem">
            <a href="">
                <img src="" alt="">12
            </a>
        </div>
        <div class="uitem">
            <a href="">
                <!--<img src="" alt="">--> ЛК
            </a>
        </div>
    </div>
</div>
</div>
