{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
          Title не подвезли (
        {% endblock %}
    </title>
  </head>
  <body>
    <header class="header1">
      <a href="/">ЦОПП</a>
    </header>

    <main>
      <div class="container py-5">
        {% block content %}
          Контент не подвезли :(
        {% endblock %}
      </div>
    </main>

    <footer>

         <div class="foot_copp_title">
             <span>
                 <a href="">
                     Центр опережающей профессиональной подготовки РСО-Алания
                 </a>
             </span>

        </div>

        <div class="foot_flex_1">

            <div class="foot_elem">
                <div class="foot_title">
                    ЦОПП
                </div>
                <div class="foot_logo">
                    <img src="https://copp15.ru/portals/0/logo_copp_white_min.png" alt="">
                </div>
            </div>
            <div class="foot_elem">
                <div class="foot_title">
                    Полезные ссылки
                </div>
                <div class="foot_list">
                    <ul>
                        <li>
                            <a href="">
                                Базы данных ресурсов
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Новости
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Обратная связь
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Карта сайта
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Версия сайта для слабовидящих
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="foot_elem">
                <div class="foot_title">
                    Образование
                </div>
                <div class="foot_list">
                    <ul>
                        <li>
                            <a href="">
                                Каталог образовательных программ
                            </a>
                        </li>

                        <li>
                            <a href="">
                                 Расписание мероприятий
                            </a>
                        </li>

                        <li>
                            <a href="">
                                Дорожная карта сопровождения государственной итоговой аттестации
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="foot_elem">
                <div class="foot_title">
                    Контакты
                </div>

                <div class="foot_list">
                    <div class="foot_contact">
                        <img src="" alt="">
                        <a href="mailto:copp15@mail.ru">copp15@mail.ru</a>
                    </div>
                    <div class="foot_contact">
                        <img src="" alt="">
                        <a href="tel:+7 (8672) 51-12-38">+7 (8672) 51-12-38</a>
                    </div>
                    <div class="foot_contact">
                        <img src="" alt="">
                        <span>
                             г. Владикавказ, ул. Галковского, дом 221
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="prelast_foot">
            <div class="last_foot">
                 <span>© ЦОПП РСО-Алания 2023</span> | <span><a href="">Условия использования</a></span> | <span> <a
                href="">Политика конфиденциальности</a></span>
            </div>
        </div>

    </footer>

  </body>
</html>
