<div class="numbers-container">
    <div class="horizontal-block">
        <div class="sub-block">
            <span>{{ people }}</span>
            <h3>Охваченные деятельностью ЦОПП</h3>
        </div>
        <div class="sub-block">
            <span>23</span>
            <h3>Образовательных программ</h3>
        </div>
        <div class="sub-block">
            <span>63</span>
            <h3>Партнёра</h3>
        </div>
        <div class="sub-block">
            <span>344</span>
            <h3>Эксперта WorldSkills</h3>
        </div>
    </div>
</div>