{% load static %}
<div class="slider-container">
  <div class="slider">
    <div class="slide">
        <div class="content_back">
          <div class="content_text">
              <div class="title">Знакомство с виртуальной реальностью</div>
              <div class="subtitle">Виртуальная реальность открывает перед нами удивительный мир, где реальность и вымысел переплетаются в захватывающем симбиозе. Погружение в виртуальное пространство позволяет нам переживать невероятные приключения, взаимодействовать с окружающим миром и создавать новые, ранее недоступные реальности. Это инновационное технологическое достижение открывает двери к неограниченным возможностям развлечений, обучения и взаимодействия.</div>
              <a href="#" class="go-button">Перейти</a>
          </div>

        </div>
        <img src="{% static 'images/slide12.jpg' %}" alt="Slide 1">
    </div>

    <div class="slide">
      <div class="content_back">
          <div class="content_text">
            <div class="title">Рабочие профессии</div>
            <div class="subtitle">Рабочие кадры – это основа экономики. Обществу всегда будут нужны специалисты, благодаря которым функционируют промышленные предприятия, строительные компании и объекты городского хозяйства.</div>
            <a href="#" class="go-button">Перейти</a>
          </div>
      </div>
      <img src="{% static 'images/slide2.jpg' %}" alt="Slide 2">
    </div>

    <div class="slide">
      <div class="content_back">
        <div class="content_text">
          <div class="title">Внутри индустрии</div>
          <div class="subtitle">Подзаголовок 3</div>
          <a href="#" class="go-button">Перейти</a>
        </div>
      </div>
      <img src="{% static 'images/slide8.jpg' %}" alt="Slide 3">
    </div>

    <div class="slide">
      <div class="content_back">
        <div class="content_text">
          <div class="title">Заголовок 4</div>
          <div class="subtitle">Подзаголовок 4</div>
          <a href="#" class="go-button">Перейти</a>
        </div>
      </div>
      <img src="{% static 'images/slide9.jpg' %}" alt="Slide 4">
    </div>

    <div class="slide">
      <div class="content_back">
        <div class="content_text">
          <div class="title">Современное оборудование</div>
          <div class="subtitle">Подзаголовок 5</div>
          <a href="#" class="go-button">Перейти</a>
        </div>
      </div>
      <img src="{% static 'images/slide7.jpg' %}" alt="Slide 5">
    </div>

  </div>

  <button class="slider-btn prev-btn" onclick="prevSlide()">❮</button>
  <button class="slider-btn next-btn" onclick="nextSlide()">❯</button>

  <div class="slider-dots">
    <div class="dot" onclick="showSlide(0)"></div>
    <div class="dot" onclick="showSlide(1)"></div>
    <div class="dot" onclick="showSlide(2)"></div>
    <div class="dot" onclick="showSlide(3)"></div>
    <div class="dot" onclick="showSlide(4)"></div>
  </div>
</div>