{% load thumbnail %}

<div class="prog_unit_sh">

    <div class="prog_image_sh">
        {% thumbnail post.image "300" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
    </div>

    <div class="card_inner_text">
        <div class="link_sh">
            <a href="{% url 'news:post-detail' post.id %}">{{ post.h1 }}</a>
        </div>

        <div class="prog_discript_sh">
            {{ post.short_story |safe }}
        </div>
    </div>


</div>


